.flex-cell.flex-cell--center
  .discuss__compose.feed-item
    %form.compose__form
      %textarea.compose__textarea{:placeholder => "Enter your message", :style => "height: 46px;"}
      .compose__img-preview
        %img.compose__uploaded-img{:alt => "", :src => ""}
        %button.compose__remove-img.glyphicon.glyphicon-remove{:type => "button"}
      .compose__link-preview-wrapper
        .compose__link-preview
        %button.compose__remove-link.glyphicon.glyphicon-remove{:type => "button"}
      %button.compose__upload{:type => "button"}
      %input#compose_image.hidden{:accept => "image/jpeg,image/png,image/jpg", :name => "compose_image", :type => "file"}
      %button.compose__post-btn{:disabled => "disabled", :type => "submit"}
    .compose__options.row{:style => ""}
      .col-xs-6.compose__share
        %ul
          / %li.compose__user-type.compose__tab--active
          %li.compose__location-tab.compose__tab.compose__tab--active{"data-tab" => "location"}
            %svg{:viewbox => "-269.621 175.622 150 150", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", :y => "0px"}
              %path.st0{:d => "M-157.471,191.009c-9.922-9.922-23.115-15.387-37.146-15.387c-14.034,0-27.224,5.465-37.146,15.387c-18.362,18.359-20.644,52.903-4.942,73.832l42.088,60.781l42.025-60.696C-136.827,243.911-139.109,209.368-157.471,191.009zM-194.132,246.845c-10.571,0-19.176-8.604-19.176-19.176s8.604-19.176,19.176-19.176c10.571,0,19.176,8.604,19.176,19.176S-183.561,246.845-194.132,246.845z", :fill => "#cbcbcb"}
          %li.compose__groups-tab.compose__tab{"data-tab" => "groups", :style => "display: none;"}
            %svg{:viewbox => "0 0 548.2 511.6", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", :y => "0px"}
              %path{:d => "M109.6,146.2c20.2,0,37.4-7.1,51.7-21.4c14.3-14.3,21.4-31.5,21.4-51.7c0-20.2-7.1-37.4-21.4-51.7 C147,7.1,129.8,0,109.6,0C89.5,0,72.2,7.1,58,21.4C43.7,35.7,36.5,52.9,36.5,73.1c0,20.2,7.1,37.4,21.4,51.7C72.2,139,89.5,146.2,109.6,146.2z", :fill => "#cbcbcb"}
              %path{:d => "M196.6,260.2c21.4,21.4,47.2,32.1,77.5,32.1c30.3,0,56.1-10.7,77.5-32.1c21.4-21.4,32.1-47.3,32.1-77.5c0-30.3-10.7-56.1-32.1-77.5c-21.4-21.4-47.2-32.1-77.5-32.1c-30.3,0-56.1,10.7-77.5,32.1c-21.4,21.4-32.1,47.2-32.1,77.5S175.2,238.8,196.6,260.2z", :fill => "#cbcbcb"}
              %path{:d => "M438.5,146.2c20.2,0,37.4-7.1,51.7-21.4c14.3-14.3,21.4-31.5,21.4-51.7c0-20.2-7.1-37.4-21.4-51.7 C475.9,7.1,458.7,0,438.5,0c-20.2,0-37.4,7.1-51.7,21.4c-14.3,14.3-21.4,31.5-21.4,51.7c0,20.2,7.1,37.4,21.4,51.7C401.1,139,418.4,146.2,438.5,146.2z", :fill => "#cbcbcb"}
              %path{:d => "M512.8,146.2c-1.1,0-5.3,2-12.4,6c-7.1,4-16.4,8-27.8,12.1c-11.4,4.1-22.7,6.1-34,6.1c-12.8,0-25.4-2.2-38-6.6c0.9,7,1.4,13.3,1.4,18.8c0,26.5-7.7,50.8-23.1,73.1c30.8,1,56.1,13.1,75.7,36.6h38.3c15.6,0,28.7-3.9,39.4-11.6c10.7-7.7,16-19,16-33.8C548.2,179.8,536.4,146.2,512.8,146.2z", :fill => "#cbcbcb"}
              %path{:d => "M470.1,377c-2-11.1-4.5-21.5-7.6-31c-3-9.5-7.1-18.8-12.3-27.8c-5.1-9-11-16.7-17.7-23.1c-6.7-6.4-14.8-11.5-24.4-15.3 c-9.6-3.8-20.2-5.7-31.8-5.7c-1.9,0-6,2-12.3,6.1c-6.3,4.1-13.2,8.7-20.8,13.7c-7.6,5-17.8,9.6-30.5,13.7c-12.8,4.1-25.6,6.1-38.5,6.1c-12.9,0-25.8-2-38.5-6.1c-12.8-4.1-22.9-8.7-30.6-13.7c-7.6-5-14.6-9.6-20.8-13.7c-6.3-4.1-10.4-6.1-12.3-6.1c-11.6,0-22.2,1.9-31.8,5.7c-9.6,3.8-17.7,8.9-24.4,15.3c-6.7,6.4-12.6,14.1-17.7,23.1c-5.1,9-9.2,18.3-12.3,27.8c-3,9.5-5.6,19.8-7.6,31c-2,11.1-3.3,21.5-4,31.1c-0.7,9.6-1,19.5-1,29.6c0,22.8,6.9,40.9,20.8,54.1 c13.9,13.2,32.4,19.8,55.4,19.8h249.5c23,0,41.5-6.6,55.4-19.8c13.9-13.2,20.8-31.3,20.8-54.1c0-10.1-0.3-19.9-1-29.6C473.4,398.5,472.1,388.1,470.1,377z", :fill => "#cbcbcb"}
              %path{:d => "M169.3,255.8c-15.4-22.3-23.1-46.6-23.1-73.1c0-5.5,0.5-11.8,1.4-18.8c-12.6,4.4-25.2,6.6-38,6.6c-11.2,0-22.6-2-34-6.1 c-11.4-4.1-20.7-8.1-27.8-12.1c-7.1-4-11.3-6-12.4-6C11.8,146.2,0,179.8,0,247c0,14.8,5.3,26.1,16,33.8c10.7,7.7,23.8,11.6,39.4,11.6h38.3C113.3,269,138.5,256.8,169.3,255.8z", :fill => "#cbcbcb"}
      .col-xs-3.compose__privacy-switch.text-left
        .share-settings__title Privacy
        .share-settings__tooltip
          %p When enabled your post will only show to other health providers.
          %p Disable to post also to patients.
        .share-settings__switches
          %span.checkbox_wrapper
            %input#privacy-checkbox.checkbox{:checked => "checked", :type => "checkbox"}
            %label
      .col-xs-3.compose__comment-switch.text-right
        .share-settings__title Replies
        .share-settings__tooltip
          %p When enabled, other users are able to reply to your post.
          %p These replies are visible to others.
        .share-settings__switches
          %span.checkbox_wrapper
            %input#comment-checkbox.checkbox{:checked => "checked", :type => "checkbox"}
            %label
      .compose__blocks-wrapper
        .col-md-6.col-xs-12
          .compose__section.compose__location.compose__list.compose-tab-content
            %form.compose__section-header
              %input{:placeholder => "Enter a location", :type => "search"}
              %button.compose__search-btn{:type => "submit"} Search
            .skysearch__spinner
              %svg.spinner{:viewbox => "0 0 50 50"}
                %circle.path{:cx => "25", :cy => "25", :fill => "none", :r => "20", "stroke-width" => "5"}
            %ul.compose__search-list
              %li.list-item--active All Locations
              %li Australia
              %li Victoria
              %li Regent
          .compose__section.compose__groups.compose__list.compose-tab-content.compose-tab-hidden
            .compose__section-header
              Select a group
            %ul.compose__groups-list
              %li.list-item--active No group
        .col-md-6.col-xs-12
          .compose__section.compose__section--right
            .compose__section-header Topics
            %ul.compose__labels-list
              %li
                %input#346{:type => "checkbox"}
                %label{:for => "346"} Addiction Medicine
              %li
                %input#457{:type => "checkbox"}
                %label{:for => "457"} Addiction Psychiatry
              %li
                %input#381{:type => "checkbox"}
                %label{:for => "381"} Adolescent Medicine
              %li
                %input#348{:type => "checkbox"}
                %label{:for => "348"} Adult Cardiothoracic Anesthesiology
              %li
                %input#435{:type => "checkbox"}
                %label{:for => "435"} Adult Reconstructive Orthopaedics
              %li
                %input#354{:type => "checkbox"}
                %label{:for => "354"} Advanced Heart Failure &amp; Transplant Cardiology
              %li
                %input#426{:type => "checkbox"}
                %label{:for => "426"} Aerospace Medicine
              %li
                %input#347{:type => "checkbox"}
                %label{:for => "347"} Anesthesiology
              %li
                %input#504{:type => "checkbox"}
                %label{:for => "504"} Applied Dermatology
              %li
                %input#512{:type => "checkbox"}
                %label{:for => "512"} Bariatric Surgery
              %li
                %input#360{:type => "checkbox"}
                %label{:for => "360"} Biochemical Genetics
              %li
                %input#470{:type => "checkbox"}
                %label{:for => "470"} Brain Injury Medicine
              %li
                %input#387{:type => "checkbox"}
                %label{:for => "387"} Breast
              %li
                %input#455{:type => "checkbox"}
                %label{:for => "455"} Burns
              %li
                %input#353{:type => "checkbox"}
                %label{:for => "353"} Cardiology
              %li
                %input#406{:type => "checkbox"}
                %label{:for => "406"} Cardiothoracic Intensive Care
              %li
                %input#357{:type => "checkbox"}
                %label{:for => "357"} Cardiothoracic Surgery
              %li
                %input#417{:type => "checkbox"}
                %label{:for => "417"} Cerebrovascular &amp; Skull Base Surgery
              %li
                %input#458{:type => "checkbox"}
                %label{:for => "458"} Child And Adolescent Psychiatry
              %li
                %input#355{:type => "checkbox"}
                %label{:for => "355"} Clinical Cardiac Electrophysiology
              %li
                %input#359{:type => "checkbox"}
                %label{:for => "359"} Clinical Cytogenetics
              %li
                %input#358{:type => "checkbox"}
                %label{:for => "358"} Clinical Genetics
              %li
                %input#450{:type => "checkbox"}
                %label{:for => "450"} Clinical Paediatric Genetics
              %li
                %input#362{:type => "checkbox"}
                %label{:for => "362"} Clinical Pharmacology
              %li
                %input#503{:type => "checkbox"}
                %label{:for => "503"} Cosmetic Medicine
              %li
                %input#454{:type => "checkbox"}
                %label{:for => "454"} Cosmetic Surgery
              %li
                %input#453{:type => "checkbox"}
                %label{:for => "453"} Craniofacial Surgery
              %li
                %input#351{:type => "checkbox"}
                %label{:for => "351"} Critical Care
              %li
                %input#365{:type => "checkbox"}
                %label{:for => "365"} Dermatological Immunology
              %li
                %input#363{:type => "checkbox"}
                %label{:for => "363"} Dermatology
              %li
                %input#366{:type => "checkbox"}
                %label{:for => "366"} Dermatopathology
              %li
                %input#375{:type => "checkbox"}
                %label{:for => "375"} Diabetes &amp; Metabolism
              %li
                %input#398{:type => "checkbox"}
                %label{:for => "398"} Diagnostic Laboratory Immunology
              %li
                %input#373{:type => "checkbox"}
                %label{:for => "373"} Disaster Medicine
              %li
                %input#368{:type => "checkbox"}
                %label{:for => "368"} Emergency Medicine
              %li
                %input#374{:type => "checkbox"}
                %label{:for => "374"} Endocrinology
              %li
                %input#411{:type => "checkbox"}
                %label{:for => "411"} Endovascular Surgical Neuroradiology
              %li
                %input#421{:type => "checkbox"}
                %label{:for => "421"} Female Pelvic Medicine &amp; Reconstructive Surgery
              %li
                %input#436{:type => "checkbox"}
                %label{:for => "436"} Foot &amp; Ankle Orthopaedics
              %li
                %input#459{:type => "checkbox"}
                %label{:for => "459"} Forensic Psychiatry
              %li
                %input#376{:type => "checkbox"}
                %label{:for => "376"} Gastroenterology
              %li
                %input#379{:type => "checkbox"}
                %label{:for => "379"} General Medicine / Internal Medicine
              %li
                %input#380{:type => "checkbox"}
                %label{:for => "380"} General Practice (Family Medicine)
              %li
                %input#386{:type => "checkbox"}
                %label{:for => "386"} General Surgery
              %li
                %input#391{:type => "checkbox"}
                %label{:for => "391"} Geriatric Medicine
              %li
                %input#460{:type => "checkbox"}
                %label{:for => "460"} Geriatric Psychiatry
              %li
                %input#422{:type => "checkbox"}
                %label{:for => "422"} Gynecologic Oncology
              %li
                %input#393{:type => "checkbox"}
                %label{:for => "393"} Haematology
              %li
                %input#437{:type => "checkbox"}
                %label{:for => "437"} Hand Surgery
              %li
                %input#377{:type => "checkbox"}
                %label{:for => "377"} Hepatology
              %li
                %input#510{:type => "checkbox"}
                %label{:for => "510"} Histopathology

  .discuss__group-strip

  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#profile/129"}
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/129/api_medbot-avatar.jpg"}/
            PM
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Plexa Medbot
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-13T09:00:15.739Z"} 6 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 169px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
            %span.feed-item__label.feed-item__label--position
              Medical Organisation
        .feed-item__body
          %a.post-link{:href => "http://Insights.ovid.com/crossref?an=00006250-900000000-98092", :target => "_blank"}
            .post-link__body
              %h2.post-link__title
                Optimizing Blood Transfusion Practices Through Bundled Intervention Implementation in Patients With Gynecologic Cancer Undergoing Laparotomy
              %span.post-link__link
                Insights.ovid.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-04T11:37:47.988Z"} 15 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text
            ⚕ Shared from plexa.ai:
            This month’s #BulletinACS examines the occurrence of chronic obstructive pulmonary disease (COPD) in the National Trauma Data Bank (NTDB) research dataset.
            %a.inline-link{:href => "https://t.co/p0yMYdMa8Y", :target => "_blank"} https://t.co/p0yMYdMa8Y
          %a.fancybox.feed-item__img{:href => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/37/full_ntdb_fig1.png"}
            %img{:alt => "", :src => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/37/preview_ntdb_fig1.png"}/
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              0
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          %a.feed-item__avatar-block{:href => "#profile/129"}
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/129/api_medbot-avatar.jpg"}/
            PM
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Plexa Medbot
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-29T16:00:13.925Z"} 21 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 169px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
            %span.feed-item__label.feed-item__label--position
              Medical Organisation
        .feed-item__body
          %a.post-link{:href => "http://www.reproduction-online.org/lookup/doi/10.1530/REP-17-0483", :target => "_blank"}
            .post-link__header.post-link__image.post-link__image--small{:style => "background-image: url(http://www.reproduction-online.org/content/vol155/issue4/home_cover.gif)"}
            .post-link__body
              %h2.post-link__title
                Female fertility preservation: past, present and future
              %span.post-link__link
                www.reproduction-online.org
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
