.flex-cell.flex-cell--center
  = partial '/feed/compose'

  .discuss__group-strip
    .group-strip
      %span.group-strip__title Group name
      .group-strip__members
        %ul.clearfix
          %li
            %span.list__person-photo
              %span.member__initials PT
        %button.btn.group-strip__view-btn{:type => "button"} View

  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/129/api_medbot-avatar.jpg"}/
            PM
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Plexa Medbot
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-13T09:00:15.739Z"} 6 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 169px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
            %span.feed-item__label.feed-item__label--position
              Medical Organisation
        .feed-item__body
          %a.post-link{:href => "http://Insights.ovid.com/crossref?an=00006250-900000000-98092", :target => "_blank"}
            .post-link__body
              %h2.post-link__title
                Optimizing Blood Transfusion Practices Through Bundled Intervention Implementation in Patients With Gynecologic Cancer Undergoing Laparotomy
              %span.post-link__link
                Insights.ovid.com
        .feed-item__comments-section
          %div
            %a.feed-item__more-comments{:href => "javascript:void(0)"} See previous comments
          .feed-item__comments-list
            #63.comment
              %a.comment__avatar-block{:href => "#profile/208"}
                %img.comment__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/208/api_15039307720980.png"}/
                PT
              .comment__main-block
                %a.comment__author{:href => "#profile/208"}
                  Plexa Test
                %p.comment__text 2345234
                .comment__footer
                  %span.comment__footer-part.comment__footer-part--likes.icon-like
                    %span.comment__footer-part Like
                    %svg
                      %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                    0
                  %time.comment__footer-part.comment__footer-part--time.time.timeago{:datetime => "2018-04-18T12:40:34.471Z"} 2 days ago
            #64.comment
              %a.comment__avatar-block{:href => "#profile/208"}
                %img.comment__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/208/api_15039307720980.png"}/
                PT
              .comment__main-block
                %a.comment__author{:href => "#profile/208"}
                  Plexa Test
                %p.comment__text 345345
                .comment__footer
                  %span.comment__footer-part.comment__footer-part--likes.icon-like
                    %span.comment__footer-part Like
                    %svg
                      %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                    0
                  %time.comment__footer-part.comment__footer-part--time.time.timeago{:datetime => "2018-04-18T12:40:36.199Z"} 2 days ago
            #65.comment
              %a.comment__avatar-block{:href => "#profile/208"}
                %img.comment__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/208/api_15039307720980.png"}/
                PT
              .comment__main-block
                %a.comment__author{:href => "#profile/208"}
                  Plexa Test
                %p.comment__text 345345345
                .comment__footer
                  %span.comment__footer-part.comment__footer-part--likes.icon-like
                    %span.comment__footer-part Like
                    %svg
                      %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                    0
                  %time.comment__footer-part.comment__footer-part--time.time.timeago{:datetime => "2018-04-18T12:40:38.095Z"} 2 days ago

        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/23/api_oran-headshot-min.jpg"}/
            OR
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Oran Rigby
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-04T11:37:47.988Z"} 15 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 154px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text
            ⚕ Shared from plexa.ai:
            This month’s #BulletinACS examines the occurrence of chronic obstructive pulmonary disease (COPD) in the National Trauma Data Bank (NTDB) research dataset.
            %a.inline-link{:href => "https://t.co/p0yMYdMa8Y", :target => "_blank"} https://t.co/p0yMYdMa8Y
          %a.fancybox.feed-item__img{:href => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/37/full_ntdb_fig1.png"}
            %img{:alt => "", :src => "https://d1x2yd8scvgoir.cloudfront.net/discuss/story_image/image/37/preview_ntdb_fig1.png"}/
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            %img.feed-item__avatar-img{:alt => "avatar", :onerror => "this.style.display = 'none'", :src => "https://d1x2yd8scvgoir.cloudfront.net/main/profile/avatar/129/api_medbot-avatar.jpg"}/
            PM
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Plexa Medbot
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-03-29T16:00:13.925Z"} 21 days ago
            .feed-item__header-aux{:style => "width: calc(100% - 169px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
            %span.feed-item__label.feed-item__label--position
              Medical Organisation
        .feed-item__body
          %a.post-link{:href => "http://www.reproduction-online.org/lookup/doi/10.1530/REP-17-0483", :target => "_blank"}
            .post-link__header.post-link__image.post-link__image--small{:style => "background-image: url(http://www.reproduction-online.org/content/vol155/issue4/home_cover.gif)"}
            .post-link__body
              %h2.post-link__title
                Female fertility preservation: past, present and future
              %span.post-link__link
                www.reproduction-online.org
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
