.flex-cell.flex-cell--center
  = partial '/feed/compose'

  .discuss__group-strip
    .group-strip
      %span.group-strip__title Private Medical Centre
      .group-strip__members
        %ul.clearfix
          %li
            %span.list__person-photo
              %span.member__initials PT
        %button.btn.group-strip__view-btn{:type => "button"} View

  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/john-murphy.jpg', alt: 'John Murphy', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Prof John Murphy MD
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 6 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 216px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Very long list of in-patients tomorrow at the hospital. Any on-demand surgeons able to assist?
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/patricia-carlson.jpg', alt: 'Patricia Carlson', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Patricia Carlson
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 5 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 197px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text I’m able to assist with this. Check out my profile and feel free to create a work request.
          = link_to 'Dr Patricia Carlson', '/profile.html', class: 'feed-item__btn-link btn-beige btn-new'
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/adbdul-samad-nijad-abadi.jpg', alt: 'Adbdul-Samad Nijad Abadi', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Adbdul-Samad Nijad Abadi
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 4 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 277px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Dr. Murphy, what specialisation are you looking for in particular?
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/guan-yin-liao.jpg', alt: 'Guan-yin Liao', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Guan-yin Liao
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 3 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 186px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text There is a very highly regarded surgeon on paternity leave with specialisation in trauma. You can connect with him via Plexa.
          %p.feed-item__text Look him up under Prof John Murphy MD.
          = link_to 'Prof John Murphy MD', '/profile.html', class: 'feed-item__btn-link btn-beige btn-new'
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/john-murphy.jpg', alt: 'John Murphy', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Prof John Murphy MD
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 2 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 216px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Thanks for the recommendations. Ideally they would be available from 8am and have experience in dealing with young people.
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            HA
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Mount Sinai Hospital Admin
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 1 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 287px);"}
              %span.feed-item__label.feed-item__label--group
                Private Medical Centre
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Just a reminder that we have an internal job network for intra-network referrals. All of this is managed via Plexa Jobs system. You can access the list via the link below.
          = link_to 'Plexa Job Network', 'https://plexa.ai/', class: 'feed-item__btn-link btn-beige btn-new'
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
