.flex-cell.flex-cell--center
  = partial '/feed/compose'

  .discuss__group-strip

  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/patrick-kelly.jpg', alt: 'Patrick Kelly', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Patrick Kelly
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 2 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 173px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text This is a serious problem in Ireland with low chance for a positive outcome unless something changes about the way we approach medical training and job creation.
          %a.post-link{:href => "https://www.imt.ie/news/almost-15000-people-age-75-plus-waited-24-hours-ed-first-quarter-23-04-2018/", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/imt.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Almost 15,000 people age 75-plus waited 24 hours in ED in first quarter of 2018

              %span.post-link__link
                www.imt.ie
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/john-murphy.jpg', alt: 'John Murphy', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Prof John Murphy MD
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 2 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 216px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Overwork, under-resourced. Becoming increasingly common in the workplace.
          %p.feed-item__text We need new tools to allow for on-demand medical job placement.
          %a.post-link{:href => "https://www.theguardian.com/healthcare-network/views-from-the-nhs-frontline/2018/apr/23/burnt-out-doctor-why-matters", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/guardian.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                I am a burnt-out doctor. This is why it matters | Eileen Parkes | Healthcare Professionals Network | The Guardian
              %span.post-link__link
                www.theguardian.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/patricia-carlson.jpg', alt: 'Patricia Carlson', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Patricia Carlson
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 3 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 197px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Wonderful story. Very powerful show of force from the public sector in the UK.
          %a.post-link{:href => "http://www.bbc.co.uk/news/uk-england-birmingham-43872737", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/bbc.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Boy recovering well after five-organ transplant - BBC News
              %span.post-link__link
                www.bbc.co.uk
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/adbdul-samad-nijad-abadi.jpg', alt: 'Abdul-Samad Nijad Abadi', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Abdul-Samad Nijad Abadi
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 4 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 268px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Amazing advances in this field just keep getting better.
          %p.feed-item__text We’re currently dealing with a huge increase in the number of
          %a.post-link{:href => "http://www.bbc.co.uk/news/uk-scotland-tayside-central-43864875", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/bbc2.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Prostate cancer diagnosis breakthrough hailed - BBC News
              %span.post-link__link
                www.bbc.co.uk
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/guan-yin-liao.jpg', alt: 'Guan-yin Liao', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Guan-yin Liao
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 5 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 186px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Hi, I’ve just started a private practice in Chatswood. I’m looking for people in the area for patient referrals.
          %p.feed-item__text If there are any private groups on Plexa for Chatswood doctors, please invite me!
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ravi-patel.jpg', alt: 'Ravi Patel', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ravi Patel
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 6 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 158px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Thanks to Dr. Abdul-Samad for sharing the above article about prostate treatment breakthroughs. Have been hearing wondering news about this lately and am very interested to see the good it can bring.
          %a.post-link{:href => "https://www.theguardian.com/society/2018/apr/22/prostate-cancer-ultrasound-diagnosis-test", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/guardian2.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Prostate cancer breakthrough as UK team develops more accurate test | Society | The Guardian
              %span.post-link__link
                www.theguardian.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ruwaydah-juman-wasem.jpg', alt: 'Ruwaydah Juman Wasem', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ruwaydah Juman Wasem
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 7 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 264px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text So much discussion about blockchain and healthcare. Can anyone help to explain how this could be incorporated into a family practice?
          %p.feed-item__text What benefits would it bring and is it easy for a technophobe like me to manage?
          %a.post-link{:href => "https://www.theguardian.com/society/2018/apr/22/prostate-cancer-ultrasound-diagnosis-test", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/delloite.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Blockchain: Opportunities for health care | Deloitte US
              %span.post-link__link
                www2.deloitte.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/michael-davies.jpg', alt: 'Michael Davies', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Michael Davies
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 8 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 194px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Specialist doctor in cardiology. Working for over 12 years in the field and loving it.
          %p.feed-item__text I just wanted to say how great the Quantum Consult process is with Plexa. Thanks to Oran and the team.
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/louise-parker.jpg', alt: 'Louise Parker', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Louise Parker
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 9 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 180px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text There are a lot of skeptics about this treatment. Looking to hear from patients that have had success with this process and also from those who haven’t.
          %p.feed-item__text Contact me via Plexa.
          %a.post-link{:href => "http://www.bbc.co.uk/news/health-43815369", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/bbc3.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Why a faecal transplant could save your life - BBC News
              %span.post-link__link
                www.bbc.co.uk
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/guan-yin-liao.jpg', alt: 'Guan-yin Liao', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Guan-yin Liao
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 10 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 186px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Has anyone had experience with the 2008 Varian 21Ix for Oncology treatment?
          %p.feed-item__text Our practice is looking at using one.
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ravi-patel.jpg', alt: 'Ravi Patel', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ravi Patel
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 11 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 158px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text I’m looking to connect with specialists who practice around Monash University in Melbourne, Australia.
          %p.feed-item__text I know there are a number of doctors on Plexa that fit the bill. Please contact me via private chat if you are interested in a study.
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ruwaydah-juman-wasem.jpg', alt: 'Ruwaydah Juman Wasem', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ruwaydah Juman Wasem
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 12 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 264px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Wonderful foundation operating out of Australia.
          %a.post-link{:href => "https://www.melanoma.org.au/", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/melanoma.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Melanoma Institute Australia
              %span.post-link__link
                www.melanoma.org.au
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
