.col-lg-8.col-sm-8.col-xs-12.public-profile__feed
  .public-profile__info-block.request-block
    %p.request-block__text.request-block__text--main Ellen is available for Quantum Consults.
    %p.request-block__text Send a request to Ellen now.
    = link_to 'Send request', '/consult/chat.html', class: 'request-block__btn'

  .public-profile__info-block.public-profile__intro-block
    .public-profile__intro-overlay
      %h4.public-profile__intro-title Meet Dr. Ellen Lu
      = link_to 'Play Biovid', '#', class: 'public-profile__intro-btn'

  .discuss__feed
    .feed-search
    .feed-items
      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ellen-lu.jpg', alt: 'Ellen Lu', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ellen Lu
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 2 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 144px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text This is a serious problem in Ireland with low chance for a positive outcome unless something changes about the way we approach medical training and job creation.
          %a.post-link{:href => "https://www.imt.ie/news/almost-15000-people-age-75-plus-waited-24-hours-ed-first-quarter-23-04-2018/", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/imt.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Almost 15,000 people age 75-plus waited 24 hours in ED in first quarter of 2018

              %span.post-link__link
                www.imt.ie
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ellen-lu.jpg', alt: 'Ellen Lu', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ellen Lu
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 3 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 144px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Overwork, under-resourced. Becoming increasingly common in the workplace.
          %p.feed-item__text We need new tools to allow for on-demand medical job placement.
          %a.post-link{:href => "https://www.theguardian.com/healthcare-network/views-from-the-nhs-frontline/2018/apr/23/burnt-out-doctor-why-matters", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/guardian.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                I am a burnt-out doctor. This is why it matters | Eileen Parkes | Healthcare Professionals Network | The Guardian
              %span.post-link__link
                www.theguardian.com
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ellen-lu.jpg', alt: 'Ellen LU', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ellen Lu
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 4 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 144px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Wonderful story. Very powerful show of force from the public sector in the UK.
          %a.post-link{:href => "http://www.bbc.co.uk/news/uk-england-birmingham-43872737", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/bbc.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Boy recovering well after five-organ transplant - BBC News
              %span.post-link__link
                www.bbc.co.uk
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}

      .feed-item
        .feed-item__header
          = link_to '/profile.html', class: 'feed-item__avatar-block' do
            = image_tag 'feed/ellen-lu.jpg', alt: 'Ellen Lu', class: 'feed-item__avatar-img'
          .feed-item__header-main
            .feed-item__header-row
              = link_to '/profile.html', class: 'feed-item__author' do
                Dr Ellen Lu
              %a.feed-item__story-link{:href => "javascript:void(0)"}
                %time.feed-item__time.time.timeago{:datetime => "2018-04-19T06:45:18.548Z"} 5 hours ago
            .feed-item__header-aux{:style => "width: calc(100% - 144px);"}
              .feed-item__dropdown-wrapper
                %a.feed-item__dropdown-trigger.feed-item__triangle-trigger{:href => "javascript: void(0)"}
                .feed-item__dropdown.feed-item__dropdown--arrow-trigger
                  .feed-item__dropdown-section
                    %a.feed-item__dropdown-link.feed-item__hide{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-eye-close
                      Hide post
                    %a.feed-item__dropdown-link.feed-item__report{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-flag
                      Report
                    %a.feed-item__dropdown-link.feed-item__block{:href => "javascript:void(0)"}
                      %i.feed-item__dropdown-item-icon.glyphicon.glyphicon-remove-sign
                      Block user
            %span.feed-item__label.feed-item__label--position
              Doctor
        .feed-item__body
          %p.feed-item__text Amazing advances in this field just keep getting better.
          %p.feed-item__text We’re currently dealing with a huge increase in the number of
          %a.post-link{:href => "http://www.bbc.co.uk/news/uk-scotland-tayside-central-43864875", :target => "_blank"}
            .post-link__header
              = image_tag 'feed/bbc2.jpg', alt: 'post picture', class: 'post-link__img'
            .post-link__body
              %h2.post-link__title
                Prostate cancer diagnosis breakthrough hailed - BBC News
              %span.post-link__link
                www.bbc.co.uk
        .feed-item__comments-region
        .feed-item__footer.share-data
          .feed-item__stats
            %span.feed-item__likes.icon-like
              %span.feed-item__like Like
              %svg
                %use{"xlink:href" => "#like-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.feed-item__like-counter 0
            %span.feed-item__share.icon-share{data: { toggle: 'modal', target: '#share-modal' }}
              %svg
                %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %form.feed-item__reply-form
            %textarea.feed-item__reply-input{:placeholder => "Type your reply", :rows => "1", :style => "height: 36px;"}
            %button.feed-item__reply-btn{:disabled => "disabled", :type => "submit"}
