%section.home-section.home-section--doctors#doctors
  .contentWrapper
    %h2.home-section__title
      Plexa for
      %span
        Doctors

    .home-section__panel
      %ul.home-section__list
        %li.home-section__list-item
          .home-section__list-img-block
            = image_tag 'home/new/icons/patient-engagement.svg', alt: 'engagement', class: 'home-section__list-img'
          %span.home-section__list-caption
            Patient engagement
        %li.home-section__list-item
          .home-section__list-img-block
            = image_tag 'home/new/icons/medical-healthcare-profile.svg', alt: 'medical healthcare', class: 'home-section__list-img'
          %span.home-section__list-caption
            Automated medical profiles
        %li.home-section__list-item
          .home-section__list-img-block
            = image_tag 'home/new/icons/research-cpd.svg', alt: 'research', class: 'home-section__list-img'
          %span.home-section__list-caption
            Research & CPD
        %li.home-section__list-item
          .home-section__list-img-block
            = image_tag 'home/new/icons/job-matching.svg', alt: 'job matching', class: 'home-section__list-img'
          %span.home-section__list-caption
            Job
            %br
            Matching

      = link_to 'Find out more', '/doctors', class: 'btn btn-large btn-green home-section__list-btn'
