%section.section--press.contentWrapper
  %h6.small-title Press
  %ul.press-list
    %li.press-list__item
      = link_to 'http://www.smh.com.au/national/education/australians-turn-to-online-health-communities-for-information-inspiration-20170310-guvoot.html', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/sydney-morning.png', alt: '', width: '158'
    %li.press-list__item
      = link_to 'https://www.wired.com/2017/03/social-media-influencers-finally-come-medicine/', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/wired.png', alt: '', width: '92'
    %li.press-list__item
      = link_to 'http://www.bbc.com/news/av/business-26249915/technology-may-transform-healthcare-treatments', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/bbc.png', alt: '', width: '53'
    %li.press-list__item
      = link_to 'https://www.wsj.com/articles/how-apps-can-help-manage-chronic-diseases-1498443120', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/wall-street.png', alt: '', width: '206'
    %li.press-list__item
      = link_to 'https://techcrunch.com/2016/05/11/disrupting-healthcare-is-a-tough-task-for-startups-and-venture-capital/', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/techcrunch.png', alt: '', width: '47'
    %li.press-list__item
      = link_to 'https://www.theguardian.com/healthcare-network/2017/jun/14/patient-stories-online-feedback-nhs', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/the-guardian.png', alt: '', width: '146'
    %li.press-list__item
      = link_to 'http://www.nytimes.com/2012/10/09/science/redefining-medicine-with-apps-and-ipads-the-digital-doctor.html', target: '_blank', class: 'press-list__link' do
        = image_tag 'home/new/new-york-times.png', alt: '', width: '173'
