- content_for :left_menu do
  = partial 'shared/left_menu', locals: { active: 'feed' }

= partial 'shared/sm_icons'

#discuss
  .attention-block
  .discuss-feed
    .flex-row.flex-row--three-columns
      = partial 'feed/left_sidebar'
      = partial 'feed/filtered'
      = partial 'feed/right_sidebar', locals: { filter_path: '/feed.html' }

= javascript_include_tag 'feed'
