- content_for :header do
  = partial 'shared/home-header', locals: {fixed: true}

= partial 'home/intro'
= partial 'home/clinics'
= partial 'home/doctors'
= partial 'home/charities'
= partial 'home/students'
= partial 'home/press'
= partial 'home/download'

= partial 'shared/home-footer'
