- content_for :left_menu do
  = partial 'shared/left_menu', locals: { active: 'news' }

= partial 'shared/sm_icons'

= partial 'shared/filter'

#news-magnet-container
  .stories-wrapper
    = partial 'magnet/news-filter'

    .grid-wrapper
      .row.grid-posts.visible
        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107231/12a95b508f4a0e49cece6ef137cc8373.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "http://theconversation.com/new-blood-pressure-guidelines-may-make-millions-anxious-that-theyre-at-risk-of-heart-disease-93349", :target => "_blank"}
                %span.magnet-item__source-title
                  The Conversation
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107231", "data-type" => "news"}
              %h4.magnet-item__body-title
                New blood pressure guidelines may make millions anxious that they're at risk of heart disease
              %p.magnet-item__text
                Previously, a person would be diagnosed with high blood pressure if their systolic reading was 140mmHg. But it's recommended this...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107238/592990cb7465d3387d3f25ce1333194c.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/fujifilm-releases-new-minimally-invasive-imaging-systems-in-u-s.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107238", "data-type" => "news"}
              %h4.magnet-item__body-title
                FujiFilm Releases New Minimally Invasive Imaging Systems in U.S.
              %p.magnet-item__text
                FUJIFILM is releasing a couple surgical visualization systems that were designed to improve minimally invasive procedures. The FUJIFILM...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107233/4834cb32542134a2cc131fc8b74b7326.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.imt.ie/news/ihca-urges-health-minister-address-issue-non-specialist-doctors-specialist-consultant-posts-16-04-2018/", :target => "_blank"}
                %span.magnet-item__source-title
                  Irish Medical Times
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107233", "data-type" => "news"}
              %h4.magnet-item__body-title
                IHCA urges Health Minister to address issue of non-specialist doctors in specialist consultant posts
              %p.magnet-item__text
                IHCA President Dr Tom Ryan called on Health Minister Simon Harris to end the practice
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107240/010fc87a6991850d2b8ca47799ff1c44.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/caffeine-containing-biocompatible-gels-for-drug-delivery.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107240", "data-type" => "news"}
              %h4.magnet-item__body-title
                Caffeine-Containing Biocompatible Gels for Drug Delivery
              %p.magnet-item__text
                Researchers at MIT have developed a biocompatible polymer gel with potential for drug delivery. The new gel uses caffeine as a gentle and...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107230/c273f3db4c949836a669ea01ca9fce16.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.theguardian.com/lifeandstyle/2018/apr/16/seven-ways-to-prevent-bowel-cancer", :target => "_blank"}
                %span.magnet-item__source-title
                  the Guardian
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107230", "data-type" => "news"}
              %h4.magnet-item__body-title
                Seven ways ... to prevent bowel cancer
              %p.magnet-item__text
                Colorectal cancer is the third leading cause of cancer deaths in the developed world – but mortality has decreased by 30% in the past 20...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107241/be82292c8c93a130a61708f20c1234a7.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/hair-sized-fiber-optic-probe-can-measure-temperatures-deep-inside-the-body.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107241", "data-type" => "news"}
              %h4.magnet-item__body-title
                Hair-Sized Fiber-Optic Probe Can Measure Temperatures Deep Inside the Body
              %p.magnet-item__text
                Researchers at the University of Adelaide have developed a tiny fiber-optic probe that can measure temperatures deep inside the body,...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107232/d3a1d485574ccd892a33f9526d1fbd4a.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "http://theconversation.com/mood-and-personality-disorders-are-often-misconceived-heres-what-you-need-to-know-94971", :target => "_blank"}
                %span.magnet-item__source-title
                  The Conversation
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107232", "data-type" => "news"}
              %h4.magnet-item__body-title
                Mood and personality disorders are often misconceived: here's what you need to know
              %p.magnet-item__text
                Media portrayals don't help misconceptions about disorders such as bipolar, schizophrenia and borderline personality disorder. So what do...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107235/60fb0d2844a0cd09cd90e5600c90e118.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/asears-assists-people-with-single-sided-deafness-with-style.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107235", "data-type" => "news"}
              %h4.magnet-item__body-title
                asEars Assists People With Single-Sided Deafness – With Style!
              %p.magnet-item__text
                Last month at South by Southwest (SXSW), we came across a team of students from the University of Tokyo who were in Austin, Texas to demo...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107234/bf9efafa721b0d7c9d848caac023727b.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.imt.ie/news/non-specialists-likely-employed-consultants-every-hospital-imo-16-04-2018/", :target => "_blank"}
                %span.magnet-item__source-title
                  Irish Medical Times
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107234", "data-type" => "news"}
              %h4.magnet-item__body-title
                Non-specialists likely employed as consultants in every hospital — IMO
              %p.magnet-item__text
                The issue of non-specialists working as consultants affects both public and private hospitals
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107236/05f2f976971c9867e8bbcf7c2735e86b.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/researchers-release-instructions-to-convert-3d-printers-into-bioprinters.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107236", "data-type" => "news"}
              %h4.magnet-item__body-title
                Researchers Release Instructions to Convert 3D Printers Into Bioprinters
              %p.magnet-item__text
                If you want to try doing 3D bioprinting at home or at a budget-strapped lab, commercial devices that only start at $10,000 may be out of...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107237/aceae186ff433dfc9833e725f663eb89.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/flexitouch-plus-released-for-treating-lymphedema-symptoms.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107237", "data-type" => "news"}
              %h4.magnet-item__body-title
                Flexitouch Plus Released for Treating Lymphedema Symptoms
              %p.magnet-item__text
                Lymphedema is a disease in which fluid is retained in the legs, arms, and other parts of the body, resulting in pain, discomfort, and...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item
            .magnet-item__header.show-content{:style => "background-image: url('https://d1x2yd8scvgoir.cloudfront.net/main/news/image/107239/f8c823bfb0aeda8b376c4b99269401c2.jpg'), url(/assets/app/news/poster-default-69afc009a79c03435e13a75bcfe178e8b8aea39d5e4faf273c097e7d8d956ffa.png);", data: { toggle: 'modal', target: '#share-modal' }}
              %a.magnet-item__source{:href => "https://www.medgadget.com/2018/04/ecglove-helps-medical-personnel-rapidly-monitor-for-arrhythmias.html", :target => "_blank"}
                %span.magnet-item__source-title
                  Medgadget
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %i.glyphicon.glyphicon-remove-circle
            .magnet-item__body.share-data{"data-id" => "107239", "data-type" => "news"}
              %h4.magnet-item__body-title
                ECGlove Helps Medical Personnel Rapidly Monitor for Arrhythmias
              %p.magnet-item__text
                Last month, Medgadget had the opportunity to visit the great state of Texas for the annual South by Southwest (SXSW) event. We had a...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{data: { toggle: 'modal', target: '#share-modal' }, "data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

:coffee
  localStorage.setItem('magnet-type', 'news')

= javascript_include_tag 'magnet'
