- content_for :left_menu do
  = partial 'shared/left_menu', locals: { active: 'research' }

= partial 'shared/sm_icons'

= partial 'shared/filter'

#news-magnet-container
  .stories-wrapper
    = partial 'magnet/research-filter'

    .grid-wrapper
      .row.grid-posts.visible
        .grid-post-item
          .magnet-item.magnet-item--purple
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Color Vision Impairment Differentiates Alzheimer Dementia From Dementia With Lewy Bodies.
              %a.magnet-item__source{:href => "http://journals.sagepub.com/doi/10.1177/0891988718767579", :target => "_blank"}
                %span.magnet-item__source-title
                  Journal of geriatric psychiatry and neurology
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107372", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objective107372", :role => "tab"} objective
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107372", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107372", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107372", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #objective107372.tab-pane.active
                  %p.magnet-item__text Dementia with Lewy bodies (DLB) is frequently misdiagnosed for Alzheimer dementia (AD), especially in its earlier stages. We characterized color vision impairment (CVI) in patients with DLB versus patients with AD to determine its usefulness in improving accuracy of early diagnosis.
                #methods107372.tab-pane
                  %p.magnet-item__text We retrospectively reviewed charts of patients with AD, DLB, and patients with mild cognitive impairment suspected to be in the prodromal phase of DLB (pro-DLB) or prodromal phase of AD (pro-AD). All patients underwent an online 15-hue color vision arrangement test.
                #results107372.tab-pane
                  %p.magnet-item__text Fifty-two patients were included in this study with a median age of 77 years, of which 44% were female. No significant differences in gender, age, or Montreal Cognitive Assessment existed among patients with AD (n = 15), pro-AD (n = 5), pro-DLB (n = 8), and DLB (n = 24). Of the 52 patients, 4 (2 AD, 1 DLB, and 1 pro-AD) had CVI history from a young age and were excluded from final analyses. New-onset CVI prevalence differed significantly based on diagnosis: patients with pro-AD (20%), patients with AD (15%), patients with pro-DLB (38%), and patients with DLB (78%, P &lt; .001). In a stepwise multivariate logistic regression analysis to determine factors associated with CVI, "diagnosis type" as a binary variable (DLB or pro-DLB vs AD or pro-AD) was the only variable retained in the model (odds ratio = 9.8 [95% CI: 2.3-42.1], P &lt; .001).
                #conclusions107372.tab-pane
                  %p.magnet-item__text Color vision impairment in patients with DLB showed a prevalence similar to the core features of DLB (∼80%) and can be supportive to a diagnosis of DLB versus AD. Pending prospective confirmation of our findings, simple online color vision testing could be incorporated into multivariate diagnostic tools to possibly improve accuracy of early diagnosis of DLB.
                #results107372.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text Fifty-two patients were included in this study with a median age of 77 years, of which 44% were female. No significant differences in gender, age, or Montreal Cognitive Assessment existed among patients with AD (n = 15), pro-AD (n = 5), pro-DLB (n = 8), and DLB (n = 24). Of the 52 patients, 4 (2 AD, 1 DLB, and 1 pro-AD) had CVI history from a young age and were excluded from final analyses. New-onset CVI prevalence differed significantly based on diagnosis: patients with pro-AD (20%), patients with AD (15%), patients with pro-DLB (38%), and patients with DLB (78%, P &lt; .001). In a stepwise multivariate logistic regression analysis to determine factors associated with CVI, "diagnosis type" as a binary variable (DLB or pro-DLB vs AD or pro-AD) was the only variable retained in the model (odds ratio = 9.8 [95% CI: 2.3-42.1], P &lt; .001).
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--red
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Digital chest drainage is better than traditional chest drainage following pulmonary surgery: a meta-analysis.
              %a.magnet-item__source{:href => "https://academic.oup.com/ejcts/advance-article/doi/10.1093/ejcts/ezy141/4963362", :target => "_blank"}
                %span.magnet-item__source-title
                  European journal of cardio-thoracic surgery : official journal of the European Association for Cardio-thoracic Surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107402", "data-type" => "news"}
              %p.magnet-item__text
                In this systematic review with meta-analysis, we sought to determine the current strength of evidence for or against digital and...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--green
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Impact of diabetes mellitus on the contractile properties of the left and right atrial myofilaments.
              %a.magnet-item__source{:href => "https://academic.oup.com/ejcts/advance-article/doi/10.1093/ejcts/ezy154/4969296", :target => "_blank"}
                %span.magnet-item__source-title
                  European journal of cardio-thoracic surgery : official journal of the European Association for Cardio-thoracic Surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107401", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objective107401", :role => "tab"} objective
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107401", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107401", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107401", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #objective107401.tab-pane.active
                  %p.magnet-item__text The incidence of diabetes mellitus in patients with ischaemic cardiomyopathy is increasing. To evaluate the impact of diabetes mellitus on contractility, we examined the calcium-induced force in left and right atrial myofilaments of patients with and without diabetes.
                #methods107401.tab-pane
                  %p.magnet-item__text We included 149 patients (106 without diabetes, 43 with diabetes), scheduled for elective coronary artery bypass grafting from August 2016 to June 2017. The left and right atria were excised and prepared for skinned fibre measurements (pCa-force curve). The unit for the force measurements is Millinewton (mN). Comprehensive demographic data as well as echocardiographic findings of the patients were collected.
                #results107401.tab-pane
                  %p.magnet-item__text We observed a significant decrease of left atrial force values in patients with diabetes, averaged over all calcium concentrations (patients with diabetes 0.50 ± 0.19 mN vs 0.68 ± 0.23 mN in patients without diabetes, P = 0.002) as well as in right atrial fibres (patients with diabetes 0.35 ± 0.17 mN vs 0.47 ± 0.21 mN in patients without diabetes, P = 0.005). There was a significant influence of repeated measurements (of the calcium concentrations) on force in left atrial myofilaments (P &lt; 0.001). There was also a significant impact of diabetes on the force values of the different calcium concentrations in left atrial myofilaments (P 0.002). In right atrial myofilaments we also found a significant influence of repeated measurements (of the calcium concentrations) on force (P &lt; 0.001). Additionally the impact of diabetes on the force values was significant (P = 0.005).
                #conclusions107401.tab-pane
                  %p.magnet-item__text We demonstrated that diabetes mellitus has a significantly negative impact on calcium-induced force development in left and right atrial myofilaments.
                #results107401.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text We observed a significant decrease of left atrial force values in patients with diabetes, averaged over all calcium concentrations (patients with diabetes 0.50 ± 0.19 mN vs 0.68 ± 0.23 mN in patients without diabetes, P = 0.002) as well as in right atrial fibres (patients with diabetes 0.35 ± 0.17 mN vs 0.47 ± 0.21 mN in patients without diabetes, P = 0.005). There was a significant influence of repeated measurements (of the calcium concentrations) on force in left atrial myofilaments (P &lt; 0.001). There was also a significant impact of diabetes on the force values of the different calcium concentrations in left atrial myofilaments (P 0.002). In right atrial myofilaments we also found a significant influence of repeated measurements (of the calcium concentrations) on force (P &lt; 0.001). Additionally the impact of diabetes on the force values was significant (P = 0.005).
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--red
            .magnet-item__header.show-content
              %h2.magnet-item__title
                A Different Perspective on Breast Implant Surface Texturization and Anaplastic Large Cell Lymphoma (ALCL).
              %a.magnet-item__source{:href => "https://academic.oup.com/asj/advance-article/doi/10.1093/asj/sjy091/4962476", :target => "_blank"}
                %span.magnet-item__source-title
                  Aesthetic surgery journal
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107395", "data-type" => "news"}
              %p.magnet-item__text
                Anaplastic large cell lymphoma (ALCL) is a rare form of lymphoma involving cells of the immune system. It is currently gaining interest...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--blue
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Systematic review of the influence of socioeconomic deprivation on mortality after colorectal surgery.
              %a.magnet-item__source{:href => "http://doi.wiley.com/10.1002/bjs.10848", :target => "_blank"}
                %span.magnet-item__source-title
                  The British journal of surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107369", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#background107369", :role => "tab"} background
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107369", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107369", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107369", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #background107369.tab-pane.active
                  %p.magnet-item__text Socioeconomic deprivation is a potentially important factor influencing surgical outcomes. This systematic review aimed to summarize the evidence for any association between socioeconomic group and mortality after colorectal surgery, and to report the definitions of deprivation used and the approaches taken to adjust for co-morbidity in this patient population.
                #methods107369.tab-pane
                  %p.magnet-item__text MEDLINE, Embase, the Cochrane Library and Web of Science were searched for studies up to November 2016 on adult patients undergoing major colorectal surgery, which reported on mortality according to socioeconomic group. Risk of bias and study quality were assessed by extracting data relating to study size, and variations in inclusion and exclusion criteria. Quality was assessed using a modification of a previously described assessment tool.
                #results107369.tab-pane
                  %p.magnet-item__text The literature search identified 59 studies published between 1993 and 2016, reporting on 2 698 403 patients from eight countries. Overall findings showed evidence for higher mortality in more deprived socioeconomic groups, both in the perioperative period and in the longer term. Studies differed in how they defined socioeconomic groups, but the most common approach was to use one of a selection of multifactorial indices based on small geographical areas. There was no consistent approach to adjusting for co-morbidity but, where this was considered, the Charlson Co-morbidity Index was most frequently used.
                #conclusions107369.tab-pane
                  %p.magnet-item__text This systematic review suggests that socioeconomic deprivation influences mortality after colorectal surgery.
                #results107369.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text The literature search identified 59 studies published between 1993 and 2016, reporting on 2 698 403 patients from eight countries. Overall findings showed evidence for higher mortality in more deprived socioeconomic groups, both in the perioperative period and in the longer term. Studies differed in how they defined socioeconomic groups, but the most common approach was to use one of a selection of multifactorial indices based on small geographical areas. There was no consistent approach to adjusting for co-morbidity but, where this was considered, the Charlson Co-morbidity Index was most frequently used.
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--blue
            .magnet-item__header.show-content
              %h2.magnet-item__title
                The Effect of Smoking in the Cosmetic Surgery Population: Analysis of 129,007 Patients.
              %a.magnet-item__source{:href => "https://academic.oup.com/asj/advance-article/doi/10.1093/asj/sjy088/4962452", :target => "_blank"}
                %span.magnet-item__source-title
                  Aesthetic surgery journal
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107393", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#background107393", :role => "tab"} background
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objectives107393", :role => "tab"} objectives
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107393", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107393", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107393", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #background107393.tab-pane.active
                  %p.magnet-item__text Smoking has been associated with several postoperative adverse outcomes across multiple surgical disciplines, but the literature is limited for aesthetic surgical procedures.
                #objectives107393.tab-pane
                  %p.magnet-item__text To compare complication rates between smokers and nonsmokers undergoing common cosmetic procedures, identify specific cosmetic procedures where smoking increases the risk of complications, and evaluate smoking as an independent risk factor for major complications following aesthetic surgery.
                #methods107393.tab-pane
                  %p.magnet-item__text A prospective cohort of patients undergoing cosmetic surgery between 2008 and 2013 was identified from the CosmetAssureTM database. Smoking was evaluated as a risk factor for major complications requiring emergency room visit, hospital admission, or reoperation within 30 days after surgery. Multivariate regression analysis was performed controlling for the effects of age, gender, body mass index, type of surgical facility, type of procedure, and combined procedures.
                #results107393.tab-pane
                  %p.magnet-item__text Of the 129,007 patients, 10,621 (8.2%) were smokers. All procedures examined, except breast augmentation, were more frequently performed in the nonsmoker cohort. Overall major complications were similar between smokers and nonsmokers (2.0% vs 1.9%, p=0.57). In univariate analysis, surgical site infections (0.6% vs 0.5%, p=0.04) were significantly higher among smokers, but suspected venous thromboembolism (0.2% vs 0.1%, p=0.01) significantly higher among nonsmokers. Notably, smokers had a higher risk of major complications after body procedures (2.9% vs 1.0%, p=0.01), as well as thigh lifts (23.8% vs 3.6%, p&lt;0.01) and male breast surgery (3.7% vs 1.4%, p=0.03). In multivariate analysis, smoking was found to be an independent predictor of surgical site infections (relative risk 1.61, p&lt;0.01).
                #conclusions107393.tab-pane
                  %p.magnet-item__text Smoking is an independent risk factor of major surgical site infections following aesthetic surgery. Body procedures, as well as thigh lifts and male breast surgery have higher complication rates in smokers.
                #results107393.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text Of the 129,007 patients, 10,621 (8.2%) were smokers. All procedures examined, except breast augmentation, were more frequently performed in the nonsmoker cohort. Overall major complications were similar between smokers and nonsmokers (2.0% vs 1.9%, p=0.57). In univariate analysis, surgical site infections (0.6% vs 0.5%, p=0.04) were significantly higher among smokers, but suspected venous thromboembolism (0.2% vs 0.1%, p=0.01) significantly higher among nonsmokers. Notably, smokers had a higher risk of major complications after body procedures (2.9% vs 1.0%, p=0.01), as well as thigh lifts (23.8% vs 3.6%, p&lt;0.01) and male breast surgery (3.7% vs 1.4%, p=0.03). In multivariate analysis, smoking was found to be an independent predictor of surgical site infections (relative risk 1.61, p&lt;0.01).
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--red
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Novel de novo synthesized phosphate carrier compound ABA-PEG20k-Pi20 suppresses collagenase production in Enterococcus faecalis and prevents colonic anastomotic leak in an experimental model.
              %a.magnet-item__source{:href => "http://doi.wiley.com/10.1002/bjs.10859", :target => "_blank"}
                %span.magnet-item__source-title
                  The British journal of surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107370", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#background107370", :role => "tab"} background
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107370", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107370", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107370", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #background107370.tab-pane.active
                  %p.magnet-item__text Previous work has demonstrated that anastomotic leak can be caused by collagenolytic bacteria such as Enterococcus faecalis via an effect on wound collagen. In humans, E. faecalis is the organism cultured most commonly from a leaking anastomosis, and is not routinely eliminated by standard oral or intravenous antibiotics. Novel strategies are needed to contain the virulence of this pathogen when present on anastomotic tissues.
                #methods107370.tab-pane
                  %p.magnet-item__text Polyphosphorylated polymer ABA-PEG20k-Pi20 was tested in mice for its ability to prevent anastomotic leak caused by collagenolytic E. faecalis. The study design included a distal colonic resection and anastomosis followed by introduction of E. faecalis to anastomotic tissues via enema. Mice were assigned randomly to receive either ABA-PEG20-Pi20 or its unphosphorylated precursor ABA-PEG20k in their drinking water. The development of anastomotic leak was determined after the animals had been killed.
                #results107370.tab-pane
                  %p.magnet-item__text Overnight incubation of two different E. faecalis collagenolytic strains with 2 mmol/l of ABA-PEG20k-Pi20 led to near complete inhibition of collagenase production (from 21 000 to 1000 and from 68 000 to 5000 units; P &lt; 0·001; 6 samples per group) without suppressing bacterial growth. In mice drinking 1 per cent ABA-PEG20k-Pi20, the phosphate concentration in the distal colonic mucosa increased twofold and leak rates decreased from eight of 15 to three of 15 animals (P &lt; 0·001). In mice drinking ABA-PEG20k-Pi20, the percentage of collagenolytic colonies among E. faecalis populations present at anastomotic tissue sites was decreased by 6-4800-fold (P = 0·008; 5 animals).
                #conclusions107370.tab-pane
                  %p.magnet-item__text These data indicate that oral intake of ABA-PEG20k-Pi20 may be an effective agent to contain the virulence of E. faecalis and may prevent anastomotic leak caused by this organism. Clinical relevance Progress in understanding the pathogenesis of anastomotic leak continues to point to intestinal bacteria as key causative agents. The presence of pathogens such as Enterococcus faecalis that predominate on anastomotic tissues despite antibiotic use, coupled with their ability to produce collagenase, appears to alter the process of healing that leads to leakage. Further antibiotic administration may seem logical, but carries the unwanted risk of eliminating the normal microbiome, which functions competitively to exclude and suppress the virulence of pathogens such as E. faecalis. Therefore, non-antibiotic strategies that can suppress the production of collagenase by E. faecalis without affecting its growth, or potentially normal beneficial microbiota, may have unique advantages. The findings of this study demonstrate that drinking a phosphate-based polymer can achieve the goal of preventing anastomotic leak by suppressing collagenase production in E. faecalis without affecting its growth.
                #conclusions107370.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text These data indicate that oral intake of ABA-PEG20k-Pi20 may be an effective agent to contain the virulence of E. faecalis and may prevent anastomotic leak caused by this organism. Clinical relevance Progress in understanding the pathogenesis of anastomotic leak continues to point to intestinal bacteria as key causative agents. The presence of pathogens such as Enterococcus faecalis that predominate on anastomotic tissues despite antibiotic use, coupled with their ability to produce collagenase, appears to alter the process of healing that leads to leakage. Further antibiotic administration may seem logical, but carries the unwanted risk of eliminating the normal microbiome, which functions competitively to exclude and suppress the virulence of pathogens such as E. faecalis. Therefore, non-antibiotic strategies that can suppress the production of collagenase by E. faecalis without affecting its growth, or potentially normal beneficial microbiota, may have unique advantages. The findings of this study demonstrate that drinking a phosphate-based polymer can achieve the goal of preventing anastomotic leak by suppressing collagenase production in E. faecalis without affecting its growth.
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--yellow
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Primary Squamous Cell Carcinoma Arising from a Breast Implant Capsule: A Case Report and Review of the Literature.
              %a.magnet-item__source{:href => "https://academic.oup.com/asj/advance-article/doi/10.1093/asj/sjy092/4962487", :target => "_blank"}
                %span.magnet-item__source-title
                  Aesthetic surgery journal
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107394", "data-type" => "news"}
              %p.magnet-item__text
                Squamous cell carcinoma (SCC) arising from the breast is an exceedingly rare disease; even more rare is SCC arising from a breast implant...
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--yellow
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Right ventricular outflow tract reconstruction using a polytetrafluoroethylene conduit in Ross patients.
              %a.magnet-item__source{:href => "https://academic.oup.com/ejcts/advance-article/doi/10.1093/ejcts/ezy128/4961365", :target => "_blank"}
                %span.magnet-item__source-title
                  European journal of cardio-thoracic surgery : official journal of the European Association for Cardio-thoracic Surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107400", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objective107400", :role => "tab"} objective
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107400", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107400", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107400", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #objective107400.tab-pane.active
                  %p.magnet-item__text The type of conduit used for right ventricular outflow tract (RVOT) reconstruction during the Ross procedure remains problematic because of the limited availability of pulmonary allografts and the unsatisfactory long-term results associated with the use of xenografts. Polytetrafluoroethylene (PTFE) conduits have been proposed as an alternative. This study evaluated the results of RVOT reconstruction using a PTFE conduit during the Ross procedure.
                #methods107400.tab-pane
                  %p.magnet-item__text Between 2007 and 2015, 28 patients underwent RVOT reconstruction using PTFE conduits. The mean age of the patients was 35.9 ± 18.1 (range 4-58) years. The total root replacement technique was used in all patients. The mean PTFE conduit size was 25.3 ± 2.3 mm.
                #results107400.tab-pane
                  %p.magnet-item__text The early mortality rate was 3.6% (1 patient). The mean follow-up duration was 48.5 ± 31.2 months; there were no late deaths. The transprosthetic gradients increased significantly over time. The conduit size was the only independent predictor of peak RVOT gradient progression (P = 0.02). None of the patients demonstrated significant RVOT regurgitation. One patient required an RVOT reoperation.
                #conclusions107400.tab-pane
                  %p.magnet-item__text The PTFE conduit demonstrates acceptable haemodynamic results at the mid-term follow-up and could be considered as an alternative substitute for RVOT reconstruction during the Ross procedure.
                #objective107400.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text The type of conduit used for right ventricular outflow tract (RVOT) reconstruction during the Ross procedure remains problematic because of the limited availability of pulmonary allografts and the unsatisfactory long-term results associated with the use of xenografts. Polytetrafluoroethylene (PTFE) conduits have been proposed as an alternative. This study evaluated the results of RVOT reconstruction using a PTFE conduit during the Ross procedure.
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--red
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Evolution of conservative treatment of acute traumatic aortic injuries: lights and shadows.
              %a.magnet-item__source{:href => "https://academic.oup.com/ejcts/advance-article/doi/10.1093/ejcts/ezy109/4967682", :target => "_blank"}
                %span.magnet-item__source-title
                  European journal of cardio-thoracic surgery : official journal of the European Association for Cardio-thoracic Surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107398", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objective107398", :role => "tab"} objective
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107398", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107398", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107398", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #objective107398.tab-pane.active
                  %p.magnet-item__text The objective of this study is to compare early and long-term results in terms of survival and aortic complications for traumatic aortic injuries depending on the initial management strategy.
                #methods107398.tab-pane
                  %p.magnet-item__text From January 1980 to January 2017, 101 patients with aortic injuries were divided into 3 groups according to management strategy at admission: 60 patients, conservative management; 26 patients, open surgery and 15 patients, endovascular repair. The groups were similar in terms of gender and trauma severity scores.
                #results107398.tab-pane
                  %p.magnet-item__text All but 1 aortic-related complications and aortic-related mortality occurred in the conservative group (11.6% conservative vs 2.4% in both surgical and endovascular groups, P = 0.091). Total follow-up was 1109.27 patient-years. Survival in the conservative, surgical and endovascular group was 71.7%, 80.8% and 79.4% at 1 year, 68.2%, 80.8% and 79.4% at 5 years and 63.9%, 72.7% and 79.4% at 10 years, respectively (log-rank = 0.218). The rate of aortic-related complications was 58.3% in the conservative cohort. Cox regression identified the following risk factors for aortic-related complications: aortic injuries grade &gt;I [odds ratio (OR), 3.05; P = 0.021], Trauma Injury Severity Score &gt;50% (OR 1.21; P = 0.042) and the decade of treatment (OR 0.49; P = 0.011).
                #conclusions107398.tab-pane
                  %p.magnet-item__text Minimal aortic injuries seem to be an amenable target for medical management, but patients remain at risk of developing aortic-related complications. Close, long-term imaging surveillance is mandatory to detect such complications at an early stage.
                #results107398.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text All but 1 aortic-related complications and aortic-related mortality occurred in the conservative group (11.6% conservative vs 2.4% in both surgical and endovascular groups, P = 0.091). Total follow-up was 1109.27 patient-years. Survival in the conservative, surgical and endovascular group was 71.7%, 80.8% and 79.4% at 1 year, 68.2%, 80.8% and 79.4% at 5 years and 63.9%, 72.7% and 79.4% at 10 years, respectively (log-rank = 0.218). The rate of aortic-related complications was 58.3% in the conservative cohort. Cox regression identified the following risk factors for aortic-related complications: aortic injuries grade &gt;I [odds ratio (OR), 3.05; P = 0.021], Trauma Injury Severity Score &gt;50% (OR 1.21; P = 0.042) and the decade of treatment (OR 0.49; P = 0.011).
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--red
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Caregivers' Perspectives of Quality of Life of People With Young- and Late-Onset Alzheimer Disease.
              %a.magnet-item__source{:href => "http://journals.sagepub.com/doi/10.1177/0891988718759601", :target => "_blank"}
                %span.magnet-item__source-title
                  Journal of geriatric psychiatry and neurology
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107373", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#background107373", :role => "tab"} background
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107373", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107373", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107373", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #background107373.tab-pane.active
                  %p.magnet-item__text Quality of life (QoL) is a growing area of interest in dementia research. This study aims to investigate the caregivers' perspective about the QoL of people with young-onset Alzheimer disease (YOAD) and late-onset Alzheimer disease (LOAD). We also aim to investigate factors that might be associated to caregivers' perspective in YOAD and LOAD.
                #methods107373.tab-pane
                  %p.magnet-item__text We included 110 people with Alzheimer disease (PwAD; 53 YOAD) and their primary caregivers. The PwAD completed assessments about their QoL and cognition. The caregivers provided information about the PwAD (demographics, QoL, ability to perform activities of daily living, mood, and dementia severity) and had burden of care assessed.
                #results107373.tab-pane
                  %p.magnet-item__text We did not find a difference in caregivers' perspectives of PwAD QoL according to the age at onset. However, the linear regression analysis indicated that caregivers' burden ( P &lt; .01) and PwAD depressive symptoms ( P &lt; .05) were significantly related to the caregivers' perspective of YOAD QoL. Caregivers' burden ( P &lt; .01), years of education ( P &lt; .05), and self-reported QoL ( P &lt; .01) were significantly related to the caregivers' perspective of LOAD QoL.
                #conclusions107373.tab-pane
                  %p.magnet-item__text The factors that drive the perceptions of caregivers of PwAD QoL may vary according to the age at onset. The study provides basic information on caregivers' perspectives of PwAD QoL to create more effective interventions according to the age at onset.
                #results107373.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text We did not find a difference in caregivers' perspectives of PwAD QoL according to the age at onset. However, the linear regression analysis indicated that caregivers' burden ( P &lt; .01) and PwAD depressive symptoms ( P &lt; .05) were significantly related to the caregivers' perspective of YOAD QoL. Caregivers' burden ( P &lt; .01), years of education ( P &lt; .05), and self-reported QoL ( P &lt; .01) were significantly related to the caregivers' perspective of LOAD QoL.
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

        .grid-post-item
          .magnet-item.magnet-item--blue
            .magnet-item__header.show-content
              %h2.magnet-item__title
                Long-term performance of homografts versus stented bioprosthetic valves in the pulmonary position in patients aged 10-20 years.
              %a.magnet-item__source{:href => "https://academic.oup.com/ejcts/advance-article/doi/10.1093/ejcts/ezy149/4967838", :target => "_blank"}
                %span.magnet-item__source-title
                  European journal of cardio-thoracic surgery : official journal of the European Association for Cardio-thoracic Surgery
              %button.btn__reject.magnet-item__reject-btn{"data-action" => "reject"}
                %svg
                  %use{"xlink:href" => "#reject-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .magnet-item__body.share-data{"data-id" => "107399", "data-type" => "news"}
              %ul.magnet-item__tabs
                %li.magnet-item__label.active
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#objective107399", :role => "tab"} objective
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#methods107399", :role => "tab"} methods
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#results107399", :role => "tab"} results
                %li.magnet-item__label
                  %a{"aria-controls" => "background", "data-toggle" => "tab", :href => "#conclusions107399", :role => "tab"} conclusions
              .magnet-item__tab-content.tab-content
                #objective107399.tab-pane.active
                  %p.magnet-item__text We aimed to compare the long-term performance of pulmonary homografts and stented bioprosthetic valves in the pulmonary position in patients aged 10-20 years.
                #methods107399.tab-pane
                  %p.magnet-item__text Between January 1995 and December 2015, 188 patients aged 10-20 years undergoing pulmonary valve replacement were identified retrospectively from hospital databases in both congenital cardiac centres in Brisbane. Valve performance was evaluated using previously described standard criteria. Propensity score matching was used to balance the 2 treatment groups.
                #results107399.tab-pane
                  %p.magnet-item__text Freedom from structural valve degeneration in homografts (n = 131) was 97%, 92% and 85% at 3, 5 and 10 years, respectively, and 91% and 53% at 3 and 5 years, respectively, in the bioprosthesis group (n = 57). Freedom from reintervention in homografts was 96%, 93% and 88% at 3, 5 and 10 years, respectively, and 93% and 68% at 3 and 5 years, respectively, in the bioprosthesis group. The unadjusted Cox regression analysis demonstrated that a bioprosthesis was at 5.64 times the risk of structural valve degeneration and 3.89 times the risk of reintervention. The Cox regression analysis performed on the propensity matched sample (45 pairs of patients) revealed that a bioprosthesis was at almost 10 times the risk of experiencing structural valve degeneration [hazard ratio (HR) = 9.18] and at more than 8 times the risk of undergoing a reintervention (HR = 8.34).
                #conclusions107399.tab-pane
                  %p.magnet-item__text In our patient population, pulmonary homografts outperformed stented bioprosthetic valves within 5 years when implanted in the pulmonary position in patients aged 10-20 years. We recommend the use of a pulmonary homograft for pulmonary valve replacement in this age group in patients undergoing surgery for congenital heart disease.
                #results107399.tab-pane.visible{:style => "position: relative; display: block; visibility: hidden;"}
                  %p.magnet-item__text Freedom from structural valve degeneration in homografts (n = 131) was 97%, 92% and 85% at 3, 5 and 10 years, respectively, and 91% and 53% at 3 and 5 years, respectively, in the bioprosthesis group (n = 57). Freedom from reintervention in homografts was 96%, 93% and 88% at 3, 5 and 10 years, respectively, and 93% and 68% at 3 and 5 years, respectively, in the bioprosthesis group. The unadjusted Cox regression analysis demonstrated that a bioprosthesis was at 5.64 times the risk of structural valve degeneration and 3.89 times the risk of reintervention. The Cox regression analysis performed on the propensity matched sample (45 pairs of patients) revealed that a bioprosthesis was at almost 10 times the risk of experiencing structural valve degeneration [hazard ratio (HR) = 9.18] and at more than 8 times the risk of undergoing a reintervention (HR = 8.34).
              .magnet-item__btns
                %button.btn.btn-blue.btn__share{"data-action" => "share"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#share2-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Share
                %button.btn.btn-blue.btn__auto{"data-action" => "auto"}
                  %span.ui-soc-icon
                    %svg
                      %use{"xlink:href" => "#auto-schedule-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Auto
                %button.btn.btn-blue.btn__save{"data-action" => "save"}
                  %span.ui-soc-icon.ui-soc-icon--green
                    %svg
                      %use{"xlink:href" => "#save-icon", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  Save

= javascript_include_tag 'magnet'
