.container-fluid.consult
  = partial 'header'
  .consult__doctors
    %h1.consult__doctors-heading Select doctors who you would like to submit your video to
    %table.consult__table
      %thead
        %tr
          %th Bulk select
          %th.consult__table-recommended Recommended
          %th Location
          %th Travel distance
          %th Bulk billing
          %th Price per Consult
      %tbody
        %tr
          %td
            %input.x-checkbox{ type: 'checkbox', id: 'ch1' }
            %label{ for: 'ch1' }
          %td
            .consult__doctor
              = image_tag 'consult/avatar3@2x.png'
              %span.consult__doctor-name Dr.Everliegh Westwood
              %span.consult__doctor-label Nearest
          %td Balmain
          %td 7 mins
          %td No
          %td $55
        %tr
          %td
            %input.x-checkbox{ type: 'checkbox', id: 'ch2' }
            %label{ for: 'ch2' }
          %td
            .consult__doctor
              = image_tag 'consult/avatar2@2x.png'
              %span.consult__doctor-name Dr. David Forrester
              %span.consult__doctor-label Soonest
          %td Balmain
          %td 7 mins
          %td No
          %td $55
        %tr
          %td
            %input.x-checkbox{ type: 'checkbox', id: 'ch3' }
            %label{ for: 'ch3' }
          %td
            .consult__doctor
              = image_tag 'consult/avatar@2x.png'
              %span.consult__doctor-name Dr.Roger Haggart
              %span.consult__doctor-label Cheapest
          %td Balmain
          %td 7 mins
          %td No
          %td $55

    .consult__select
      %input.x-checkbox{ type: 'checkbox', id: 'ch4' }
      %label.consult__select-label{ for: 'ch4' }
      Select a recommended doctor for me if selected doctors aren’t available
    = link_to 'Submit consult request', '/consult/loading_doctors.html', class: 'consult__doctor-submit btn-new btn-green'
